/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
STYLES.CSS PAGE FOR hello-world-portfolio SITE
KEY:
font color:
background color:

----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
BASIC SET UP
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
BASIC SET UP
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

section {
    padding: 40px 5px;
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
HEADINGS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
PARAGRAPHS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
ICONS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
LINKS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
BUTTONS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
HEADER
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
ABOUT ME
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
I'M LEARNING
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
PROJECTS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
CONTACT ME
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
FORM
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
FOOTER
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */